.form {
    text-align: right;
  }
  
  /* .form button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #9c0434;
    color: black;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    font-weight: normal;
  }    */
  .form input {
    font: inherit;
    border: 1px solid #9c0434;
    color: rgb(12, 11, 11);
    border-radius: 5px;
    padding-left: 1rem;
    margin: 1rem 0;
  }

  
  /* .form button:hover,
  .form button:active {
    background-color: #9c0434;
    border-color: #9c0434;
    color: aliceblue;
  } */